@{
    var s = User.Identity.Name;
    var UserName = s.Split(new char[] { '@' }, StringSplitOptions.RemoveEmptyEntries);
    
}

@if (Request.IsAuthenticated)
{
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            @if (ViewBag.ActionCheck == "Recharge")
            {
                <li class="dropdown dropdown-hover  active">
                    <a href="@Url.Action("UserRecharge", "Profile", null, null)" class="dropdown-toggle">
                        Пополнить <span class="label">пополнить баланс</span>
                    </a>
                </li>
            }
            else
            {
                <li class="dropdown dropdown-hover">
                    <a href="@Url.Action("UserRecharge", "Profile", null, null)" class="dropdown-toggle">
                        Пополнить <span class="label">пополнить баланс</span>
                    </a>
                </li>
            }
            @if (ViewBag.ActionCheck == "Activity")
            {
                <li class="dropdown dropdown-hover  active">
                    <a href="@Url.Action("UserActivity", "Profile", null, null)" class="dropdown-toggle">
                        @UserName[0] <span class="label">ваш баланс: @ViewData["Money"] руб</span>
                    </a>
                </li>
            }
            else
            {
                <li class="dropdown dropdown-hover">
                    <a href="@Url.Action("UserActivity", "Profile", null, null)" class="dropdown-toggle">
                        @UserName[0] <span class="label">ваш баланс: @ViewData["Money"] руб</span>
                    </a>
                </li>
            }
            <li class="dropdown dropdown-hover">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-toggle">
                    Выйти <span class="label">смена аккаунта</span>
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-hover">
            <a href="@Url.Action("VKLogin", "Account", null, null)" class="dropdown-toggle">
                <img src="~/Content/images/vk_logo.png" align="center" alt=""><span class="label">вход через вк</span>
            </a>
        </li>
        <li class="dropdown dropdown-hover">
            <a href="@Url.Action("SteamLogin", "Account", new {  }, null)" class="dropdown-toggle">
                <img src="~/Content/images/steam_logo.png" align="center" alt=""><span class="label">вход через стим</span>
            </a>
        </li>
        <li class="dropdown dropdown-hover">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Вход <span class="caret"></span> <span class="label">регистрация</span>
            </a>
            <div class="dropdown-menu">
                <ul role="menu">
                    <li>
                        @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    <li>
                        @Html.ActionLink("Забыл пароль", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    </li>
                    <li>
                        @Html.ActionLink("Регистрация id", "RegisterID", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    </li>
                </ul>
            </div>
        </li>
    </ul>
}


